.checklists {
  background-color: #fdfdfd33;
  border: 2px solid #222;
  border-radius: 5px;
  box-shadow: 0 0.25em 1.5em 0.25em rgba(0 0 0 / 10%);
  padding: 1em;

  h3 {
    font-size: 1.25em;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .checklist {
    margin-top: 0.5em;
    padding-left: 2em;

    li span {
      font-weight: normal;

      &.checked {
        font-weight: bold;

        &::after {
          content: "✓";
        }
      }
    }

    & > li:first-of-type {
      list-style-type: none;
    }
  }
}
