.concurrency {
  .concurrency-type {
    margin: 0.2em 0;
    width: 240px;
  }

  .concurrency-status {
    background-color: #b4b4b4;
    color: #5f0859;
    font-family: Consolas, monospace;
    font-size: 0.9em;
    padding: 0.25em;
  }

  h4,
  h5 {
    margin-bottom: 0.2em;
  }

  label {
    display: block;
    font-size: 0.9em;
  }

  button {
    border: 1px solid #000;
    white-space: normal;
  }
}

.concurrency-group {
  margin: 1em 0;
}
.concurrency-remote-wait-tasks {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;

  .concurrency {
    display: flex;
    flex-direction: column;
  }
}
