.btn-group {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
  display: none;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;

  &.show {
    display: block;
  }
}
.dropdown-item {
  border-radius: 0;
  cursor: pointer;
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;

  &:hover {
    background-color: #f8f9fa;
  }

  button {
    padding: 0.25rem;
  }
}
