footer {
  &.menu {
    background-color: #ffedbb;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin: 1em 0 0;
    padding: 0;
    width: 100%;

    .links {
      align-items: center;
      display: flex;
      margin: 0 auto;
      max-width: 800px;
      padding: 0.5em 0 0.5em;
      width: 100%;

      .audio-player {
        margin-right: 1em;
      }

      a {
        display: inline-block;
        font-size: 1em;
        font-weight: 700;
        padding: 0 0.75em 0 0;

        svg {
          margin-right: 3px;
        }
      }
    }

    .sub-footer {
      background-color: #fff5d8;
      display: flex;
      font-size: 0.8rem;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 800px;
      min-height: 20px;
      padding: 0.5em 0.5em 0 0.5em;
      width: 100%;
    }
  }
}
